body{
  background: black;
}
.portfolio_wrapper {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color:#131313;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background: #f4a0ac;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height:240px;
}
header h1 {
  font-size: 1px;
  line-height: 1;
  text-indent: -999px;
  position: absolute;
}
.header__my-photo {
  border-radius: 50%;
  margin-right: 30px;
  border: 2px solid white;
}
.header__about-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header__block-name {
  font-size: 2.3em;
  padding-bottom: 1.1em;
  font-weight: bold;
}
.header__about-block a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 1.5em;
  margin-bottom: 15px;
}
.header__about-block a:hover{
  text-shadow: 0 0 5px white;
}



.education_block {
  margin-top: 5%;
  border-top: 2px solid black;
  font-size: 28px;
  width: 100%;
}
.education_block__nav {
  display: flex;
  border-bottom: 1px solid white;
  color:white;
  background: #e30425;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding:0 15px;
}
.education_block__nav:hover {
  cursor: pointer;
  background-color: rgba(97, 97, 97, 0.5);
}
.education_block__arrow {
  transition: all 0.5s linear;
}
.education_block__content {
  height: 200px;
  margin-top: 5%;
}
.education_block__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.show {
  display:block;
  height: 200px;
  transform: translate3d(0, 0px, 0);
  margin-bottom: 5%;
  transition: all 0.3s linear;
}
.hide {
  display:none;
  margin-bottom: 0;
  transform: translate3d(0, -50px, 0);
  transition: all 0.3s linear;
}
.rotate {
  transform: rotate(-180deg);
}

.carousel-container{
  position: relative;
  height: 440px;
}
.carousel {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.item-container{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.item{
  display:none;
  position: relative;
  margin: 0 auto;
  animation: 0.5s ease-in-out;
}
.item img{
  width:100%;
  height:auto;
  display: block;
}

.item.active, .item.next{
  display:block;
}
.item.next{
  position: absolute;
  top:0;
  width: 100%;
}
.description{
  margin: 30px 20%;
  font-size: 1.6em;
  border:2px solid black;
  display: flex;
  justify-content: space-between;
}
.project-name{
  padding:10px;
}
.control{
  position: absolute;
  top:0;
  bottom:0;
  width:15%;
  cursor: pointer;
}
.control.left{
  left:0;
  right: auto;
}
.control.right{
  right:0;
  left: auto;
}
.arrow{
  display: inline-block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 85px;
}
.arrow.left{
  left:50%;
}
.arrow.right{
  right:50%;
}
.to-left{
  animation-name: left;
}
.to-right{
 animation-name: right;
 animation-direction: reverse;
}
.from-left{
  animation-name: left;
  animation-direction: reverse;
}
.from-right{
  animation-name: right;
}
@keyframes left{
  from{
    left:0;
  }
  to{
    left:100%;
  }
}
@keyframes right{
  from{
    left:100%;
  }
  to{
    left:0;
  }
}

@media (max-width:960px){
  .description{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width:640px){
  .arrow, .project-name{
    display: none;
  }
  .description{
    border:0;
  }
}